<h2 matDialogTitle>Создать новый графический процессор</h2>
<mat-dialog-content [formGroup]="result">
  <mat-form-field class="w-100">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Частота графического процессора</mat-label>
    <input matInput formControlName="clockSpeedInMHz" type="number">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="getResult()" cdkFocusInitial>Создать</button>
</mat-dialog-actions>
