<div class="row m-1 ">
  <div class="filters col col-25">
    <mat-card>
      <mat-form-field class="w-100">
        <mat-label>Производитель</mat-label>
        <mat-select multiple [(ngModel)]="fields.manufacturers">
          <mat-option *ngFor="let manufacturer of phoneModelFilter.manufacturers"
                      [value]="manufacturer">{{manufacturer.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Год выхода на рынок</mat-label>
        <mat-select multiple [(ngModel)]="fields.marketLaunchYears">
          <mat-option *ngFor="let year of phoneModelFilter.marketLaunchYears"
                      [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Операционная система</mat-label>
        <mat-select multiple [(ngModel)]="fields.operationSystemsWithVersions">
          <mat-option *ngFor="let os of phoneModelFilter.operationSystemsWithVersions"
                      [value]="os"
          >{{os.operationSystem.name}} {{os.version}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Размер экрана в дюймах</mat-label>
        <mat-select multiple [(ngModel)]="fields.screenDiagonalsInInches">
          <mat-option *ngFor="let diagonal of phoneModelFilter.screenDiagonalsInInches"
                      [value]="diagonal">{{diagonal}}"
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Разрешение экрана</mat-label>
        <mat-select multiple [(ngModel)]="fields.screenResolutions">
          <mat-option *ngFor="let resolution of phoneModelFilter.screenResolutions"
                      [value]="resolution">{{resolution.horizontal}}x{{resolution.vertical}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label class="block">Технология экрана</mat-label>
        <mat-select multiple [(ngModel)]="fields.screenTechnologies">
          <mat-option *ngFor="let technology of phoneModelFilter.screenTechnologies" [value]="technology.name">
            {{technology}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label class="block">Частота обновления экрана</mat-label>
        <mat-select multiple [value]="fields.screenRefreshRates">
          <mat-option *ngFor="let refreshRate of phoneModelFilter.screenRefreshRates"
                      [value]="refreshRate">{{refreshRate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Оперативня память</mat-label>
        <mat-select multiple [(ngModel)]="fields.ramVariants">
          <mat-option *ngFor="let ram of phoneModelFilter.ramVariants" [value]="ram">{{ram}} ГБ</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Флэш память</mat-label>
        <mat-select multiple [(ngModel)]="fields.romVariants">
          <mat-option *ngFor="let rom of phoneModelFilter.romVariants" [value]="rom">{{rom}} ГБ</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Поддержка карт памяти</mat-label>
        <mat-select [(ngModel)]="fields.isMemoryCardSupported">
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option [value]="true">Да</mat-option>
          <mat-option [value]="false">Нет</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Количество модулей камеры</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let camerasAmount of phoneModelFilter.camerasAmountVariants"
                      [value]="camerasAmount">{{camerasAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Камера, Мп</mat-label>
        <mat-select multiple [(ngModel)]="fields.camerasInMp">
          <mat-option *ngFor="let camera of phoneModelFilter.camerasInMp"
                      [value]="camera">{{camera}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Количество SIM-карт</mat-label>
        <mat-select multiple [(ngModel)]="fields.simCardsAmountVariants">
          <mat-option *ngFor="let simCardsAmount of phoneModelFilter.simCardsAmountVariants"
                      [value]="simCardsAmount">{{simCardsAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Формат SIM-карты</mat-label>
        <mat-select multiple [(ngModel)]="fields.simCardTypes">
          <mat-option *ngFor="let type of phoneModelFilter.simCardTypes"
                      [value]="type">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Подержка 5G</mat-label>
        <mat-select [(ngModel)]="fields.is5GSupported">
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option [value]="true">Да</mat-option>
          <mat-option [value]="false">Нет</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Цвет корпуса</mat-label>
        <mat-select multiple [(ngModel)]="fields.bodyColors">
          <mat-option *ngFor="let bodyColor of phoneModelFilter.bodyColors"
                      [value]="bodyColor">{{bodyColor.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Пыле- и влагозащита</mat-label>
        <mat-select multiple [(ngModel)]="fields.dustAndMoistureProtections">
          <mat-option *ngFor="let protection of phoneModelFilter.dustAndMoistureProtections"
                      [value]="protection">{{protection.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Емкость аккумулятора, мАч</mat-label>
        <mat-select multiple [(ngModel)]="fields.batteryCapacities">
          <mat-option *ngFor="let batteryCapacity of phoneModelFilter.batteryCapacities"
                      [value]="batteryCapacity">{{batteryCapacity}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Расположение сканера отпечатка пальца</mat-label>
        <mat-select multiple [(ngModel)]="fields.fingerprintScannerLocations">
          <mat-option *ngFor="let location of phoneModelFilter.fingerprintScannerLocations"
                      [value]="location">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Защита от царапин</mat-label>
        <mat-select multiple [(ngModel)]="fields.screenProtections">
          <mat-option *ngFor="let protection of phoneModelFilter.screenProtections"
                      [value]="protection">{{protection.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Процессор</mat-label>
        <mat-select multiple [(ngModel)]="fields.cpuVariants">
          <mat-option *ngFor="let cpu of phoneModelFilter.cpuVariants" [value]="cpu">{{cpu.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Количество ядер</mat-label>
        <mat-select multiple [(ngModel)]="fields.coresAmountVariants">
          <mat-option *ngFor="let coreAmount of phoneModelFilter.coresAmountVariants"
                      [value]="coreAmount">{{coreAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Частота процессора, ГГц</mat-label>
        <mat-select multiple [(ngModel)]="fields.cpuClockSpeedVariants">
          <mat-option *ngFor="let cpuClockSpeed of phoneModelFilter.cpuClockSpeedVariants"
                      [value]="cpuClockSpeed">{{cpuClockSpeed}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Техпроцесс</mat-label>
        <mat-select multiple [(ngModel)]="fields.cpuTechprocessVariants">
          <mat-option *ngFor="let techprocess of phoneModelFilter.cpuTechprocessVariants"
                      [value]="techprocess">{{techprocess}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Графический ускоритель</mat-label>
        <mat-select multiple [(ngModel)]="fields.gpuVariants">
          <mat-option *ngFor="let gpu of phoneModelFilter.gpuVariants" [value]="gpu">{{gpu.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Аудиопроцессор</mat-label>
        <mat-select [(ngModel)]="fields.hasAudioProcessor">
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option [value]="true">Да</mat-option>
          <mat-option [value]="false">Нет</mat-option>
        </mat-select>
      </mat-form-field>

      <!--      <mat-form-field class="w-100">-->
      <!--        <mat-label class="block">Дополнительные модули камеры</mat-label>-->
      <!--        <mat-select multiple>-->
      <!--          <mat-option></mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->

      <mat-form-field class="w-100">
        <mat-label>Фронтальная камера</mat-label>
        <mat-select multiple [(ngModel)]="fields.frontCameraVariants">
          <mat-option *ngFor="let frontCamera of phoneModelFilter.frontCameraVariants"
                      [value]="frontCamera">{{frontCamera}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Аудиовыход</mat-label>
        <mat-select [(ngModel)]="fields.hasAudioOutput">
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option [value]="true">Да</mat-option>
          <mat-option [value]="false">Нет</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Разъём подключения</mat-label>
        <mat-select multiple [(ngModel)]="fields.connectionSocketVariants">
          <mat-option *ngFor="let socket of phoneModelFilter.connectionSocketVariants"
                      [value]="socket">{{socket.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Длина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.lengthVariants">
          <mat-option *ngFor="let length of phoneModelFilter.lengthVariants"
                      [value]="length">{{length}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Ширина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.widthVariants">
          <mat-option *ngFor="let width of phoneModelFilter.widthVariants"
                      [value]="width">{{width}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Толщина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.thicknessVariants">
          <mat-option *ngFor="let thickness of phoneModelFilter.thicknessVariants"
                      [value]="thickness">{{thickness}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Вес, г</mat-label>
        <mat-select multiple [(ngModel)]="fields.weightVariants">
          <mat-option *ngFor="let weight of phoneModelFilter.weightVariants"
                      [value]="weight">{{weight}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="col col-75 ml-1">
    <mat-card *ngFor="let phoneModel of phoneModels; let i = index" class="mb-1">
      <div class="row">
        <div class="col">
          <div class="product-image-preview-wrapper">
            <img src="https://content2.onliner.by/catalog/device/main/4569504868eb0c41952c484333a4b3c4.jpeg"
                 class="product-image mlr-auto block">
          </div>
        </div>
        <div class="col ml-1">
          <a routerLink="{{phoneModel.id}}" class="mat-h2 phone-name-link">{{phoneModel.name}}</a>
          <p>Операционная система {{phoneModel.operationSystemWithVersion.operationSystem.name}},
            экран {{phoneModel.screenDiagonalInInches}}"
            {{phoneModel.screenTechnology.name}}
            ({{phoneModel.horizontalScreenResolution}}x{{phoneModel.verticalScreenResolution}}),
            процессор {{phoneModel.cpu.name}},
            {{getRamAndRomVariantsAsString(phoneModel)}},
            камера {{phoneModel.cameraInMp}} Мп,
            аккумулятор {{phoneModel.batteryCapacity}} мАч,
            {{phoneModel.simCardsAmount}} SIM</p>
          <!--          <div>-->
          <!--            <mat-icon>star</mat-icon>-->
          <!--            <mat-icon>star</mat-icon>-->
          <!--            <mat-icon>star</mat-icon>-->
          <!--            <mat-icon>star</mat-icon>-->
          <!--            <mat-icon>star_outline</mat-icon>-->
          <!--            <p>36 отзывов</p>-->
          <!--          </div>-->
        </div>
        <div class="col ml-1">
          <!--          <h2 class="product-price">от 549 р.</h2>-->
        </div>
      </div>
    </mat-card>
  </div>
</div>
