<div class="row m-1 ">
  <div class="filters col col-25">
    <mat-card>
      <mat-form-field class="w-100">
        <mat-label>Производитель</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.manufacturer">
          <mat-option *ngFor="let manufacturer of phoneModelFilterVariants.manufacturers"
                      [value]="manufacturer">{{manufacturer.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Год выхода на рынок</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.marketLaunchYear">
          <mat-option *ngFor="let year of phoneModelFilterVariants.marketLaunchYears"
                      [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Операционная система</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.operationSystemWithVersion">
          <mat-option *ngFor="let os of phoneModelFilterVariants.operationSystemsWithVersion"
                      [value]="os"
          >{{os.operationSystem.name}} {{os.version}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Размер экрана в дюймах</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.screenDiagonalInInches">
          <mat-option *ngFor="let diagonal of phoneModelFilterVariants.screenDiagonalInInches"
                      [value]="diagonal">{{diagonal}}"
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Разрешение экрана</mat-label>
        <mat-select multiple [(ngModel)]="fields.screenResolution">
          <mat-option *ngFor="let resolution of phoneModelFilterVariants.screenResolutions"
                      [value]="resolution">{{resolution.horizontal}}
            x{{resolution.vertical}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label class="block">Технология экрана</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.screenTechnology">
          <mat-option *ngFor="let technology of phoneModelFilterVariants.screenTechnologies" [value]="technology.name">
            {{technology}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label class="block">Частота обновления экрана</mat-label>
        <mat-select multiple [value]="fields.select.screenRefreshRate">
          <mat-option *ngFor="let refreshRate of phoneModelFilterVariants.screenRefreshRates"
                      [value]="refreshRate">{{refreshRate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Оперативня память</mat-label>
        <mat-select [(ngModel)]="fields.ram">
          <mat-option *ngFor="let ram of phoneModelFilterVariants.rams" [value]="ram">{{ram}} ГБ</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Флэш память</mat-label>
        <mat-select [(ngModel)]="fields.rom">
          <mat-option *ngFor="let rom of phoneModelFilterVariants.roms" [value]="rom">{{rom}} ГБ</mat-option>
        </mat-select>
      </mat-form-field>

      <section class="w-100">
        <mat-checkbox [(ngModel)]="fields.checkbox.isMemoryCardSupported">Подержка карт памяти</mat-checkbox>
      </section>

      <mat-form-field class="w-100">
        <mat-label>Количество модулей камеры</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let camerasAmount of phoneModelFilterVariants.camerasAmounts"
                      [value]="camerasAmount">{{camerasAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Камера, Мп</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.cameraInMp">
          <mat-option *ngFor="let camera of phoneModelFilterVariants.cameras" [value]="camera">{{camera}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Количество SIM-карт</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.simCardsAmount">
          <mat-option *ngFor="let simCardsAmount of phoneModelFilterVariants.simCardAmounts"
                      [value]="simCardsAmount">{{simCardsAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Формат SIM-карты</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.simCardType">
          <mat-option *ngFor="let type of phoneModelFilterVariants.simCardTypes"
                      [value]="type">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <section class="w-100">
        <mat-checkbox [(ngModel)]="fields.checkbox.is5GSupported">Подержка 5G</mat-checkbox>
      </section>

      <mat-form-field class="w-100">
        <mat-label>Цвет корпуса</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let bodyColor of phoneModelFilterVariants.bodyColors"
                      [value]="bodyColor">{{bodyColor.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Пыле- и влагозащита</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.dustAndMoistureProtection">
          <mat-option *ngFor="let protection of phoneModelFilterVariants.dustAndMoistureProtections"
                      [value]="protection">{{protection.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Емкость аккумулятора, мАч</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.batteryCapacity">
          <mat-option *ngFor="let batteryCapacity of phoneModelFilterVariants.batteryCapacities"
                      [value]="batteryCapacity">{{batteryCapacity}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Расположение сканера отпечатка пальца</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.fingerprintScannerLocation">
          <mat-option *ngFor="let location of phoneModelFilterVariants.fingerprintScannerLocations"
                      [value]="location">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Защита от царапин</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.screenProtection">
          <mat-option *ngFor="let protection of phoneModelFilterVariants.screenProtections"
                      [value]="protection">{{protection.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Процессор</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.cpu">
          <mat-option *ngFor="let cpu of phoneModelFilterVariants.cpus" [value]="cpu">{{cpu.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Количество ядер</mat-label>
        <mat-select multiple [(ngModel)]="fields.coresAmount">
          <mat-option *ngFor="let coreAmount of phoneModelFilterVariants.coreAmounts"
                      [value]="coreAmount">{{coreAmount}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Частота процессора, ГГц</mat-label>
        <mat-select multiple [(ngModel)]="fields.cpuClockSpeed">
          <mat-option *ngFor="let cpuClockSpeed of phoneModelFilterVariants.cpuClockSpeeds"
                      [value]="cpuClockSpeed">{{cpuClockSpeed}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Техпроцесс</mat-label>
        <mat-select multiple [(ngModel)]="fields.techprocess">
          <mat-option *ngFor="let techprocess of phoneModelFilterVariants.cpuTechprocesses"
                      [value]="techprocess">{{techprocess}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Графический ускоритель</mat-label>
        <mat-select multiple [(ngModel)]="fields.gpu">
          <mat-option *ngFor="let gpu of phoneModelFilterVariants.gpus" [value]="gpu">{{gpu.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <section class="w-100">
        <mat-checkbox [(ngModel)]="fields.checkbox.hasAudioProcessor">Аудиопроцессор</mat-checkbox>
      </section>

      <!--      <mat-form-field class="w-100">-->
      <!--        <mat-label class="block">Дополнительные модули камеры</mat-label>-->
      <!--        <mat-select multiple>-->
      <!--          <mat-option></mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->

      <mat-form-field>
        <mat-label>Фронтальная камера</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.frontCamera">
          <mat-option *ngFor="let frontCamera of phoneModelFilterVariants.frontCameras"
                      [value]="frontCamera">{{frontCamera}}</mat-option>
        </mat-select>
      </mat-form-field>

      <section class="w-100">
        <mat-checkbox [(ngModel)]="fields.checkbox.hasAudioOutput">Аудиовыход</mat-checkbox>
      </section>

      <mat-form-field class="w-100">
        <mat-label>Разъём подключения</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.connectionSocket">
          <mat-option *ngFor="let socket of phoneModelFilterVariants.connectionSockets"
                      [value]="socket">{{socket.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Длина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.length">
          <mat-option *ngFor="let length of phoneModelFilterVariants.lengthVariants"
                      [value]="length">{{length}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ширина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.width">
          <mat-option *ngFor="let width of phoneModelFilterVariants.widthVariants"
                      [value]="width">{{width}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Толщина, мм</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.thickness">
          <mat-option *ngFor="let thickness of phoneModelFilterVariants.thicknessVariants"
                      [value]="thickness">{{thickness}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Вес, г</mat-label>
        <mat-select multiple [(ngModel)]="fields.select.weight">
          <mat-option *ngFor="let weight of phoneModelFilterVariants.weightVariants"
                      [value]="weight">{{weight}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="col col-75 ml-1">
    <mat-card *ngFor="let phoneModel of phoneModels">
      <div class="row">
        <div class="col">
          <div class="product-image-preview-wrapper">
            <img src="https://content2.onliner.by/catalog/device/main/4569504868eb0c41952c484333a4b3c4.jpeg"
                 class="product-image mlr-auto block">
          </div>
        </div>
        <div class="col ml-1">
          <a routerLink="{{phoneModel.id}}" class="mat-h2 phone-name-link">Xiaomi Redmi 9T 4GB/128GB (оранжевый
            закат) {{phoneModel.name}}</a>
          <p>Android {{phoneModel.operationSystemWithVersion.operationSystem.name}},
            экран 6.53" {{phoneModel.screenDiagonalInInches}}"
            IPS {{phoneModel.screenTechnology.name}}
            (1080x2340) ({{phoneModel.horizontalScreenResolution}}x{{phoneModel.verticalScreenResolution}}),
            Qualcomm Snapdragon 662 {{phoneModel.cpu.name}},
            ОЗУ 4 {{phoneModel.ramAndRomVariants}} ГБ,
            флэш-память 128 ГБ {{phoneModel.ramAndRomVariants}},
            камера 48 {{phoneModel.cameraInMp}} Мп,
            аккумулятор 6000 {{phoneModel.batteryCapacity}} мАч,
            2 {{phoneModel.simCardsAmount}} SIM</p>
          <div>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_outline</mat-icon>
            <p>36 отзывов</p>
          </div>
        </div>
        <div class="col ml-1">
          <h2 class="product-price">от 549 р.</h2>
        </div>
      </div>
    </mat-card>
  </div>
</div>
