<mat-card class="m-1">
  <div class="row mb-1">
    <div class="col">
      <div class="product-image-full-wrapper">
        <img src="https://content2.onliner.by/catalog/device/main/4569504868eb0c41952c484333a4b3c4.jpeg"
             class="product-image mlr-auto block">
      </div>
    </div>
    <div class="col ml-1">
      <a routerLink="1" class="mat-h2 phone-name-link">Смартфон {{phoneModel?.name}}</a>
      <p>Операционная система {{phoneModel?.operationSystemWithVersion.operationSystem.name}},
        экран {{phoneModel?.screenDiagonalInInches}}"
        {{phoneModel?.screenTechnology.name}}
        ({{phoneModel?.horizontalScreenResolution}}x{{phoneModel?.verticalScreenResolution}}),
        процессор {{phoneModel?.cpu.name}},
        камера {{phoneModel?.cameraInMp}} Мп,
        аккумулятор {{phoneModel?.batteryCapacity}} мАч,
        {{phoneModel?.simCardsAmount}} SIM</p>
      <!--      <div>-->
      <!--        <mat-icon>star</mat-icon>-->
      <!--        <mat-icon>star</mat-icon>-->
      <!--        <mat-icon>star</mat-icon>-->
      <!--        <mat-icon>star</mat-icon>-->
      <!--        <mat-icon>star_outline</mat-icon>-->
      <!--        <p>36 отзывов</p>-->
      <!--      </div>-->
      <!--      <h2 class="product-price">549 - 600 р.</h2>-->
      <!--      <button mat-raised-button color="primary" class="mw-12">8 предложений</button>-->
    </div>
    <div class="row">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row pt-1 mb-1">
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/eb06fdbcb8f3f638cfccab238c29f7c7.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/37dff694fdb7cadf0141f6664d393e27.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/ed6ca01b024ae78b1d9228dbd87d6149.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/bf89a1c4ad0fec5810467ebb6ceef564.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/140a75ea9b5296d79f53a7a4021dee68.jpeg"
           class="product-image mlr-auto block middle">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/43d98331cc7f0ef2ac8ff6b3f3f8bbdd.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/10237c1fb05a4ab0c153736c134ac670.jpeg"
           class="product-image mlr-auto block">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="grid pt-1 grid1fr1fr product-full-info-grid">
    <div>Дата выхода на рынок</div>
    <div>{{phoneModel?.marketLaunchYear}}</div>
    <!--    <div>Тип</div>-->
    <!--    <div>смартфон</div>-->
    <div>Операционная система</div>
    <div>{{phoneModel?.operationSystemWithVersion.operationSystem.name}}</div>
    <div>Версия операционной системы</div>
    <div>{{phoneModel?.operationSystemWithVersion.version}}</div>
    <div>Размер экрана</div>
    <div>{{phoneModel?.screenDiagonalInInches}}"</div>
    <div>Разрешение экрана</div>
    <div>{{phoneModel?.horizontalScreenResolution}}x{{phoneModel?.verticalScreenResolution}}</div>
    <div>Оперативная память и Флэш-память</div>
    <div>{{getRamAndRomVariantsAsString()}}</div>
    <div>Встроенная камера</div>
    <div>{{phoneModel?.cameraInMp}} Мп</div>
    <div>Фронтальная камера</div>
    <div>{{phoneModel?.frontCameraInMp}} Мп</div>
    <div>Количество основных камер</div>
    <div>{{phoneModel?.camerasAmount}}</div>
    <div>Количество SIM-карт</div>
    <div>{{phoneModel?.simCardsAmount}}</div>
    <div>Формат SIM-карты</div>
    <div>{{phoneModel?.simCardType.name}}</div>
    <!--    <div>Максимальное разрешение видео</div>-->
    <!--    <div>1920x1080 (30 кадров/с)</div>-->
    <!--    <div>Поддержка карт памяти</div>-->
    <!--    <div> microSD, microSDHC, microSDXC  (до 512 ГБ)</div>-->
    <!--    <div>Платформа</div>-->
    <!--    <div>Qualcomm Snapdragon</div>-->
    <div>Процессор</div>
    <div>{{phoneModel?.cpu.name}}</div>
    <div>Тактовая частота процессора</div>
    <div>{{getCpuClockSpeed()}} МГц</div>
    <div>Количество ядер</div>
    <div>{{getCpuCoresAsString()}}</div>
    <div>Микроархитектура ЦПУ</div>
    <div>{{getCpuMicroarchitectureAsString()}}</div>
    <div>Разрядность процессора</div>
    <div>{{phoneModel?.cpu.digitalCapacityInBits}} бита</div>
    <div>Техпроцесс</div>
    <div>{{phoneModel?.cpu.techprocessInNm}} нм</div>
    <div>Графический ускоритель</div>
    <div>{{phoneModel?.cpu.integratedGpu?.name}}</div>
    <!--    <div>Конструкция корпуса</div>-->
    <!--    <div>моноблок</div>-->
    <!--    <div>Материал корпуса</div>-->
    <!--    <div>пластик</div>-->
    <!--    <div>Материал задней крышки</div>-->
    <!--    <div>пластик</div>-->
    <!--    <div>Цвет корпуса</div>-->
    <!--    <div>оранжевый</div>-->
    <!--    <div>Цвет фронтальной панели</div>-->
    <!--    <div>черный</div>-->
    <div>Длина</div>
    <div>{{phoneModel?.length}} мм</div>
    <div>Ширина</div>
    <div>{{phoneModel?.width}} мм</div>
    <div>Толщина</div>
    <div>{{phoneModel?.thickness}} мм</div>
    <div>Вес</div>
    <div>{{phoneModel?.weight}} г</div>
    <div>Технология экрана</div>
    <div>{{phoneModel?.screenTechnology.name}}</div>
    <!--    <div>Количество цветов экрана</div>-->
    <!--    <div>16 млн</div>-->
    <div>Разрешающая способность экрана</div>
    <div>{{phoneModel?.screenPpi}}</div>
    <div>Частота обновления экрана</div>
    <div>{{phoneModel?.screenRefreshRate}}</div>
    <div>Защита от царапин</div>
    <div>{{phoneModel?.screenProtection.name}}</div>
    <div>Емкость аккумулятора</div>
    <div>{{phoneModel?.batteryCapacity}} мА·ч</div>

  </div>
</mat-card>
