<div class="row flex-justify-space-around mt-8 m-1">
  <mat-card class="mw-600px w-100" [formGroup]="form">
    <h2>Вход</h2>
    <mat-form-field class="w-100">
      <mat-label>Адрес электронной почты</mat-label>
      <input matInput [formControlName]="FormControlNames.EMAIL">
      <mat-error
        *ngIf="util.hasError(form, FormControlNames.EMAIL)">{{util.getError(form, FormControlNames.EMAIL)}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="w-100">
      <mat-label>Пароль</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControlName]="FormControlNames.PASSWORD">
      <mat-icon matSuffix class="cursor-pointer"
                (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error
        *ngIf="util.hasError(form, FormControlNames.PASSWORD)">{{util.getError(form, FormControlNames.PASSWORD)}}</mat-error>
    </mat-form-field>
    <div class="row flex-justify-space-between">
      <a mat-button routerLink="/register">Создать аккаунт</a>
      <button mat-button (click)="login()">Войти</button>
    </div>
  </mat-card>
</div>

