<h2 matDialogTitle>Создать новый процессор</h2>
<mat-dialog-content>
  <div class="row flex-align-center">
    <mat-form-field class="w-100">
      <mat-label>Операционная система</mat-label>
      <mat-select [(ngModel)]="result.operationSystem">
        <mat-option *ngFor="let operationSystem of operationSystems" [value]="operationSystem">{{operationSystem.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon class="cursor-pointer" (click)="createNewOperationSystem()">add</mat-icon>
  </div>
  <mat-form-field class="w-100">
    <mat-label>Версия</mat-label>
    <input matInput [(ngModel)]="result.version" name="title">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="result" cdkFocusInitial>Создать</button>
</mat-dialog-actions>
