<mat-card class="m-1">
  <div class="row mb-1">
    <div class="col">
      <div class="product-image-full-wrapper">
        <img src="https://content2.onliner.by/catalog/device/main/4569504868eb0c41952c484333a4b3c4.jpeg"
             class="product-image mlr-auto block">
      </div>
    </div>
    <div class="col ml-1">
      <a routerLink="1" class="mat-h2 phone-name-link">Смартфон Xiaomi Redmi 9T 4GB/128GB (оранжевый закат)</a>
      <p>Android, экран 6.53" IPS (1080x2340), Qualcomm Snapdragon 662, ОЗУ 4 ГБ, флэш-память 128 ГБ, карты памяти,
        камера 48 Мп, аккумулятор 6000 мАч, 2 SIM</p>
      <div>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <p>36 отзывов</p>
      </div>
      <h2 class="product-price">549 - 600 р.</h2>
      <button mat-raised-button color="primary" class="mw-12">8 предложений</button>
    </div>
    <div class="row">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row pt-1 mb-1">
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/eb06fdbcb8f3f638cfccab238c29f7c7.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/37dff694fdb7cadf0141f6664d393e27.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/ed6ca01b024ae78b1d9228dbd87d6149.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/bf89a1c4ad0fec5810467ebb6ceef564.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/140a75ea9b5296d79f53a7a4021dee68.jpeg"
           class="product-image mlr-auto block middle">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/43d98331cc7f0ef2ac8ff6b3f3f8bbdd.jpeg"
           class="product-image mlr-auto block">
    </div>
    <div class="pl-1"></div>
    <div class="product-image-small-wrapper row">
      <img src="https://content2.onliner.by/catalog/device/main/10237c1fb05a4ab0c153736c134ac670.jpeg"
           class="product-image mlr-auto block">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="grid pt-1 product-info-grid">
  </div>
</mat-card>
