<mat-card class="m-1">
  <div class="row mb-1 flex-gap-1em">
    <div class="product-summary-main-image-wrapper">
      <img *ngIf="phone" src="http://localhost:8080/api/images/{{phone.mainImage.imageName}}"
           class="object-fit-contain hw-100">
    </div>
    <div class="col ml-1">
      <h2 class="mat-h2">Смартфон {{phone?.name}}</h2>
      <p>Операционная система {{phone?.operationSystemWithVersion.operationSystem.name}},
        экран {{phone?.screenDiagonalInInches}}"
        {{phone?.screenTechnology.name}}
        ({{phone?.horizontalScreenResolution}}x{{phone?.verticalScreenResolution}}),
        процессор {{phone?.cpu.name}},
        камера {{phone?.cameraInMp}} Мп,
        аккумулятор {{phone?.batteryCapacity}} мАч,
        {{phone?.simCardsAmount}} SIM</p>
      <div class="row flex-wrap flex-gap-1em">
        <a mat-raised-button routerLink="edit">Редактировать</a>
        <button mat-raised-button>Удалить</button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row pt-1 mb-1 flex-gap-1em flex-wrap">
    <div class="product-gallery-image-wrapper cursor-pointer" *ngFor="let image of phone?.images">
      <img class="object-fit-contain hw-100" src="http://localhost:8080/api/images/{{image.imageName}}"
           (click)="changeSelectedGalleryImage(image)">
      <div class="backdrop" (click)="changeSelectedGalleryImage(image)"></div>
    </div>
  </div>
  <mat-divider *ngIf="galleryBigImage"></mat-divider>
  <div *ngIf="galleryBigImage" class="row w-100 flex-justify-space-around mb-1 pt-1">
    <img class="product-gallery-big-image"
         src="http://localhost:8080/api/images/{{galleryBigImage.imageName}}">
  </div>
  <mat-divider></mat-divider>
  <div class="grid pt-1 grid1fr1fr product-full-info-grid">
    <div>Дата выхода на рынок</div>
    <div>{{phone?.marketLaunchYear}}</div>
    <div>Операционная система</div>
    <div>{{phone?.operationSystemWithVersion.operationSystem.name}}</div>
    <div>Версия операционной системы</div>
    <div>{{phone?.operationSystemWithVersion.version}}</div>
    <div>Размер экрана</div>
    <div>{{phone?.screenDiagonalInInches}}"</div>
    <div>Разрешение экрана</div>
    <div>{{phone?.horizontalScreenResolution}}x{{phone?.verticalScreenResolution}}</div>
    <div>Оперативная память</div>
    <div>{{phone?.ramSizeInGB}} ГБ</div>
    <div>Флэш-память</div>
    <div>{{phone?.romSizeInGB}} ГБ</div>
    <div>Встроенная камера</div>
    <div>{{phone?.cameraInMp}} Мп</div>
    <div>Фронтальная камера</div>
    <div>{{phone?.frontCameraInMp}} Мп</div>
    <div>Количество основных камер</div>
    <div>{{phone?.camerasAmount}}</div>
    <div>Количество SIM-карт</div>
    <div>{{phone?.simCardsAmount}}</div>
    <div>Формат SIM-карты</div>
    <div>{{phone?.simCardType.name}}</div>
    <div>Процессор</div>
    <div>{{phone?.cpu.name}}</div>
    <div>Тактовая частота процессора</div>
    <div>{{utilService.getCpuClockSpeedForPhone(phone)}} МГц</div>
    <div>Количество ядер</div>
    <div>{{utilService.getCpuCoresAsStringForPhone(phone)}}</div>
    <div>Микроархитектура ЦПУ</div>
    <div>{{utilService.getCpuMicroarchitectureAsStringForPhone(phone)}}</div>
    <div>Разрядность процессора</div>
    <div>{{phone?.cpu.digitalCapacityInBits}} бита</div>
    <div>Техпроцесс</div>
    <div>{{phone?.cpu.techprocessInNm}} нм</div>
    <div>Графический ускоритель</div>
    <div>{{phone?.cpu.integratedGpu?.name}}</div>
    <div>Длина</div>
    <div>{{phone?.length}} мм</div>
    <div>Ширина</div>
    <div>{{phone?.width}} мм</div>
    <div>Толщина</div>
    <div>{{phone?.thickness}} мм</div>
    <div>Вес</div>
    <div>{{phone?.weight}} г</div>
    <div>Технология экрана</div>
    <div>{{phone?.screenTechnology.name}}</div>
    <div>Разрешающая способность экрана</div>
    <div>{{phone?.screenPpi}}</div>
    <div>Частота обновления экрана</div>
    <div>{{phone?.screenRefreshRate}}</div>
    <div>Защита от царапин</div>
    <div>{{phone?.screenProtection.name}}</div>
    <div>Емкость аккумулятора</div>
    <div>{{phone?.batteryCapacity}} мА·ч</div>
  </div>
</mat-card>
