<mat-card class="m-1" [formGroup]="phoneForm">
  <h2>Добавить новую модель телефона</h2>
  <div class="grid1fr1fr grid grid-col-gap2em">
    <mat-form-field class="w-100" [formGroup]="phoneForm">
      <mat-label>Название</mat-label>
      <input matInput type="text" [formControlName]="FormControlNames.NAME">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Производитель</mat-label>
      <mat-select formControlName="manufacturer">
        <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">{{manufacturer.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Год выхода на рынок</mat-label>
      <input matInput type="number" formControlName="marketLaunchYear">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Операционная система</mat-label>
      <mat-select formControlName="operationSystemWithVersion">
        <mat-option *ngFor="let os of operationSystemsWithVersions"
                    [value]="os">{{os.operationSystem.name}} {{os.version}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Размер экрана в дюймах</mat-label>
      <input matInput type="number" formControlName="screenDiagonalInInches">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Горизонтальное разрешение экрана</mat-label>
      <input matInput type="number" formControlName="horizontalScreenResolution">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Вертикальное разрешение экрана</mat-label>
      <input matInput type="number" formControlName="verticalScreenResolution">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Технология экрана</mat-label>
      <mat-select formControlName="screenTechnology">
        <mat-option *ngFor="let screenTechnology of screenTechnologies"
                    [value]="screenTechnology">{{screenTechnology.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Частота обновления экрана, Гц</mat-label>
      <input matInput type="number" formControlName="screenRefreshRate"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Оперативная память ГБ</mat-label>
      <input matInput type="number" formControlName="ramSizeInGB"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Постоянная память ГБ</mat-label>
      <input matInput type="number" formControlName="romSizeInGB">
    </mat-form-field>

    <section class="w-100 row flex-align-center">
      <mat-checkbox formControlName="isMemoryCardSupported">Поддержка карт памяти</mat-checkbox>
    </section>

    <mat-form-field class="w-100">
      <mat-label>Количество модулей камеры</mat-label>
      <input matInput type="number" formControlName="camerasAmount">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Камера, Мп</mat-label>
      <input matInput type="number" formControlName="cameraInMp"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Количество SIM-карт</mat-label>
      <input matInput type="number" formControlName="simCardsAmount"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label class="block">Формат SIM-карты</mat-label>
      <mat-select formControlName="simCardType">
        <mat-option *ngFor="let simCardType of simCardTypes" [value]="simCardType">{{simCardType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <section class="w-100 row flex-align-center">
      <mat-checkbox formControlName="is5GSupported">Поддержка 5G</mat-checkbox>
    </section>

    <mat-form-field class="w-100" [formGroup]="phoneForm">
      <mat-label class="block">Цвет корпуса</mat-label>
      <mat-select [formControlName]="FormControlNames.BODY_COLOR">
        <mat-option *ngFor="let color of bodyColors" [value]="color">{{color.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label class="block">Пыле- и влагозащита</mat-label>
      <mat-select formControlName="dustAndMoistureProtection">
        <mat-option [value]="null">Отсутствует</mat-option>
        <mat-option *ngFor="let protection of dustAndMoistureProtectionTypes"
                    [value]="protection">{{protection.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Емкость аккумулятора, мАч</mat-label>
      <input matInput type="number" formControlName="batteryCapacity">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Расположение сканера отпечатка пальца</mat-label>
      <mat-select formControlName="fingerprintScannerLocation">
        <mat-option [value]="null">Отсутствует</mat-option>
        <mat-option *ngFor="let scannerLocation of fingerprintScannerLocations"
                    [value]="scannerLocation">{{scannerLocation.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label class="block">Защита от царапин</mat-label>
      <mat-select formControlName="screenProtection">
        <mat-option *ngFor="let screenProtection of screenProtections"
                    [value]="screenProtection">{{screenProtection.name}}</mat-option>
      </mat-select>
      <!--      <input matInput disabled [ngModel]="selectedPhoneModel?.screenProtection?.name"/>-->
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label class="block">Процессор</mat-label>
      <mat-select formControlName="cpu">
        <mat-option *ngFor="let cpu of cpus" [value]="cpu">{{cpu.name}}</mat-option>
      </mat-select>
      <!--      <input matInput type="text" disabled [ngModel]="selectedPhoneModel?.cpu?.name">-->
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Фронтальная камера</mat-label>
      <input matInput type="number" formControlName="frontCameraInMp">
    </mat-form-field>

    <section class="w-100 row flex-align-center">
      <mat-checkbox formControlName="hasAudioOutput">Аудиовыход</mat-checkbox>
    </section>

    <section class="w-100 row flex-align-center">
      <mat-checkbox formControlName="hasNfc">NFC</mat-checkbox>
    </section>

    <mat-form-field class="w-100">
      <mat-label>Разъём подключения</mat-label>
      <mat-select formControlName="connectionSocket">
        <mat-option *ngFor="let connectionSocket of connectionSockets"
                    [value]="connectionSocket">{{connectionSocket.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Длина, мм</mat-label>
      <input matInput type="number" formControlName="length">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Ширина, мм</mat-label>
      <input matInput type="number" formControlName="width">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Толщина, мм</mat-label>
      <input matInput type="number" formControlName="thickness">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Вес, г</mat-label>
      <input matInput type="number" formControlName="weight">
    </mat-form-field>
  </div>
  <app-edit-product-images #editProductImagesComponent [oldMainImage]="phone?.mainImage" [oldImages]="phone?.images"></app-edit-product-images>

  <div class="row flex-justify-end">
    <button mat-button (click)="createNewPhone()">Добавить</button>
  </div>
</mat-card>

