<mat-card class="m-1">
  <div class="row align-items-baseline flex-gap-1em">
    <mat-form-field class="flex-1">
      <mat-label>Поиск</mat-label>
      <input matInput>
    </mat-form-field>
    <a mat-raised-button routerLink="/">На главную страницу</a>
    <a *ngIf="!localStorageService.isLoggedIn()" mat-raised-button routerLink="/login">Вход</a>
    <button *ngIf="localStorageService.isLoggedIn()" mat-raised-button (click)="localStorageService.logout()">Выход</button>
    <a *ngIf="localStorageService.isLoggedIn()" mat-raised-button [routerLink]="'/users/' + localStorageService.getUserId()">Профиль</a>
  </div>
</mat-card>
