/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.block {
  display: block;
}

.mw-12 {
  max-width: 12em;
}

.mb-1 {
  margin-bottom: 1em;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.col {
  flex-direction: column;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-50 {
  width: 50%;
}

.col-15 {
  width: 15%;
}

.col-85 {
  width: 85%;
}

.m-1 {
  margin: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mr-05 {
  margin-right: 0.5em;
}

.border-radius-05 {
  border-radius: 0.5em;
}

.product-image {
  border-radius: 4px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.product-image-preview-wrapper {
  width: 15em;
  height: 15em;
}

.product-image-full-wrapper {
  width: 25em;
  height: 25em;
}

.product-image-small-wrapper {
  width: 8em;
  height: 8em;
  cursor: pointer;
  position: relative;
}

.product-image-small-wrapper .product-image-small-wrapper {
  margin-left: 1em;
}

.product-image-small-wrapper:hover:after {
  background: rgba(0, 0, 0, .05);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 100;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

app-app-phones-list {
  padding-top: 5em;
}

.product + .product {
  margin-top: 1em;
}

.phone-name-link {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

.phone-name-link:hover {
  text-decoration: underline;
}

.product-price {
  white-space: nowrap;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.grid {
  display: grid;
}

.grid1fr1fr {
  grid-template-columns: 1fr 1fr;
}

.grid-col-gap2em {
  grid-column-gap: 2em;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}
