<mat-card class="m-1">
  <div class="row flex-wrap">
    <button mat-raised-button (click)="callGenerator(apiConstants.GENERATE_ALL_API_URL)">Сгенерировать все</button>
    <button mat-raised-button (click)="callGenerator(apiConstants.GENERATE_MANUFACTURERS_API_URL)">Сгенерировать производителей</button>
    <button mat-raised-button (click)="callGenerator(apiConstants.GENERATE_MOBILE_OS_API_URL)">Сгенерировать операционные системы</button>
    <button mat-raised-button (click)="callGenerator(apiConstants.GENERATE_SCREEN_TECHNOLOGIES_API_URL)">Сгенерировать технологии экрана</button>
    <button mat-raised-button (click)="callGenerator(apiConstants.GENERATE_COLORS_API_URL)">Сгенерировать цвета</button>
  </div>
</mat-card>

